pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.4.0
streamlit>=1.35.0
matplotlib>=3.8.0
joblib>=1.4.0
requests>=2.31.0
plotly>=5.20.0
folium>=0.16.0
streamlit-folium>=0.20.0
geopandas>=0.14.0
streamlit-plotly-events>=0.0.6
